/*
 *  __  __      _   _             ___                _   ___
 * |  \/  |__ _| |_| |_ ___ ___  | _ \__ _ __ _ _ _ (_) | _ \___ ____  _ _ __  ___
 * | |\/| / _` |  _|  _/ -_) _ \ |   / _` / _` | ' \| | |   / -_|_-< || | '  \/ -_)
 * |_|  |_\__,_|\__|\__\___\___/ |_|_\__,_\__, |_||_|_| |_|_\___/__/\_,_|_|_|_\___|
 *                                        |___/
 */

// Colors
$final-background: #111;

$text-color: #eee;
$text-alert: #ff9900;
$text-dark: #aaa;

* { color: $text-color; }

body {
  background-color: $final-background;
  padding: 0px;
  margin: 0px;
  width: 100%;


  .backgroundCanvas {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height:100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1000;
  }
  #b1 {
    z-index: -1001;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }
  #b2 {
    z-index: -1002;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

  h1, h2, h3, p {
    width: 100%;
  }
  h2{
    color: $text-alert;
    border-bottom: 1px solid $text-alert;
    margin-top: 200px;
    margin-bottom: 25px;
    padding-bottom: 15px;
  }

  .message:first-child {
    margin-top: 30px;
  }

  .message {
    input,
    textarea {
      background: transparent;
      resize: none;
    }

    input:hover,
    textarea:hover {
      background: rgba(0.6, 1.0, 0, 0.5);
    }
  }
}

.error {
  font-size: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px;
  padding: 5px;
  color: #222;
  z-index: -1;
  font-size: 20rem;
}

.u-t-left   { text-align: left;   }
.u-t-right  { text-align: right;  }
.u-t-center { text-align: center; }
