<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Matteo Ragni</title>
    <link rel="stylesheet" href="/css/main.css" media="screen" title="Stylesheet" charset="utf-8">
  </head>
  <body>
    <div id="backgroundCanvas"></div>

    <!--
      ___         _      _
     / __| __ _ _(_)_ __| |_ ___
     \__ \/ _| '_| | '_ \  _(_-<
     |___/\__|_| |_| .__/\__/__/
                   |_|
    -->
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous">
    </script>
    <script src="js/jquery.particleground.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
